h1 {
    font-family: 'IBM Plex Mono', monospace;
    color: cornflowerblue;
    margin-bottom: 3%;
    text-emphasis: bold;
}
h2 {
    font-family: 'IBM Plex Mono', monospace;
}
main {
    width: 960px;
    
}
body {
    font-family: 'IBM Plex Mono', monospace;
    color: cornflowerblue;
}
#boxes {
    text-align: center;
}
textarea{
    text-align:center;
 }
#password {
    margin-top: 2%;
}

/* Buttons */
#result{
    margin-top: 1%;
    font-family: 'Wallpoet', cursive;
    color: #00FF00;
    background-color: black;
    border: solid red;
    border-radius: 45%;
}
.button {
    text-align: center;
    margin-bottom: 1%;
    font-family: 'Wallpoet', cursive;
    color: #00FF00;
    border: solid red;
    background-color: black;
    border-radius: 45%;
}
.button:hover {
    color: cornflowerblue
}
#result:hover {
    color: cornflowerblue;
}
.cpybtn {
    text-align: center;
}
.UFO {
    opacity: 0;
}
.UFO:hover {
    opacity: 1;
}